{% extends 'layouts/auth_layouts/base.html' %}
{% from 'layouts/macro.html' import input %}
{% block content %}
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
        class="img-fluid"
        alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form action="{{ url_for('auth.register') }}" method="POST">
            {{ form.csrf_token }}
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0" style="font-size: xx-large;">Sign up</p>
          </div>
            <!-- name input -->
          <div data-mdb-input-init class="form-outline mb-4">
            {{ input(form.name) }}
          </div>

            <div data-mdb-input-init class="form-outline mb-4">
            {{ input(form.email) }}
          </div>

          <!-- Password input -->
          <div data-mdb-input-init class="form-outline mb-3">
            {{ input(form.password) }}
          </div>
          <div data-mdb-input-init class="form-outline mb-3">
            {{ input(form.confirm_password) }}
          </div>
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                
              </div>
            </div>

            <div class="text-center text-start mt-4 pt-2">
              {{ input(form.submit) }}
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Copyright -->
      <div class="small text-center text-muted fst-italic">
              Copyright &copy; Clean Blog 2024
            </div>
    </div>
  </section>
</form>
{% endblock %}